body{
    background-color: rgb(47, 59, 170);
    color:rgb(207, 18, 18);
}

th{
    background-color: rgba(255, 255, 255, 0.445);
    color: rgb(189, 17, 152);
}

td{
    background-color: rgb(10, 16, 54);
    color:yellow;
}

h1 a {
    color: rgb(77, 17, 6);
}

.Slider{
    width: 5000px;
    margin: auto;
    overflow: hidden;
}

.Slider ul   {
    list-style: none;

    padding: 0px;
    position: relative;
    animation: sliding 10s ease-in-out infinite;

}

.Slider ul li {
    float: left;
}

@keyframes sliding {
    0%  {left: 0;}
    14% {left: -714px;}
    28% {left:-1428px;}
    42% {left:-2856px ;}
    56% {left: -3750px;}
    70% {left:-4284px ;}
    84%{left:-5000px ;}


}

th {
    border: 1px solid white (206, 193, 15, 0.11);
  }

  td{
    
        border: 1px solid white;
      
  }